################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Ibanez-Molero-Daniel-Apuntate/.vs/Ibanez-Molero-Daniel-Apuntate/v15/Server/sqlite3/db.lock
